*{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	/* background-color: rgb(16, 113, 126); */
}

header{

	width: 100%;
	height: 100vh;
	background: linear-gradient(to left,rgb(114, 158, 158)  ,rgb(18, 97, 150) );

}




.navsection{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items:center;
	/* background: linear-gradient(to top,white,rgb(81, 219, 189)); */
	
}


.logo{

	width: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo{
	font-family: 'Roboto', sans-serif;
	width: 43%;
	background: linear-gradient(rgb(15, 211, 236),rgb(26, 71, 219));
	/* padding-left:100px ; */
	padding-top: 10px;
	color: rgb(223, 226, 7);
	

	
}

.logo h2{
	letter-spacing: 2px;
	font-size: 20px;
	animation: moving 5s linear infinite;
	animation-direction: alternate;
}

@keyframes moving{

	from{
		padding-right: 50%;
	}
	to {padding-left: 50%;}
}

nav{
	width: 60%;
	height:20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.nav-inside{
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	color: rgb(202, 216, 7);
	letter-spacing: 2px;
}
/* .profiles{
	color: blueviolet;
} */
.dropdown-content{
	display: none;
	/* text-decoration: none; */

}
.dropdown-btn:hover .dropdown-content{

	display: block;
	position: absolute;
	/* width: 18%; */
	/* padding-left: 0%; */
	background-color: rgb(74, 86, 94);
	/* margin: 0 10px 10px 10px; */
	list-style: none;
}

.dropdown-btn:hover .dropdown-content li{

	display: block;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;

	font-weight:500;

}


.dropdown-btn:hover .dropdown-content li a{

	text-decoration: none;
	color: rgb(223, 226, 43);
	letter-spacing: 2px;
}

.fas{

	margin-left: 10px;
}


/* .nav-inside:before{

	content:"";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition: all 0.4s solid linear;
} */
/* .nav-inside:hover:before{

	width: 100%;
} */

main{
	height: 80vh;
	display: flex;
	/* padding-left: 10%; */
	justify-content: space-around;
	align-items: center;
}

.right_side{

	/* border-radius:27% 33% 24% 18% / 0% 0% 0% 0%  ; */
	/* background-color: rgb(247, 12, 168); */
	box-sizing: border-box;
	width: 40%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: conic-gradient(rgb(11, 92, 214), white, rgb(130, 224, 236));
	/* background: linear-gradient(to left bottom,blue,black); */
}

#self_image{

	/* max-width: 100%; */
	width: 60%;
	padding-top: 100px;
	height: auto;
	

}

.left_side{

	width: 50%;
	height: 80vh;
	/* display: block; */
	/* background-color: black; */

}
.left_side h5{

	font-weight: 700;
	padding-top: 0px;
	font-size: 10px;
	letter-spacing: 1px;
	color: burlywood;
}
.left_side h1{

	margin-top:8px;
	color:rgb(248, 184, 99);
	font-size: 50px;

	font-family: 'Stylish', sans-serif;
}
.designation{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;

	color: burlywood;
}
.designation-inside:after {
	

	content: "";
	animation: changetext 5s infinite linear;
	font-size: 30px;
	font-weight: 300;

	color: rgb(196, 136, 97);
	font-family: 'Stylish', sans-serif;
}
@keyframes changetext {

	0% {
    content: "Software Developer";
  }
  50%{
    content: "Web Developer";
  }
  100% {
    content: "Problem Solver";
  }
  
  }

.introduction{
	width: 80%;
	height: 20vh;
	/* background-color: tomato; */

	color: rgb(198, 201, 60);
	display: flex;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200;
	text-transform: none;
}
